h2 {
    color:blue;
}

li { 
    display : inline-block;
}

p {
    font-size: 30px;
}

#span1 {
    font-size: 3em;
}

#span2 {
    font-size: 3rem;
}

.boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 20px;
    margin: 0px 20px;
    width:33px;
    height:55px;
}