body {
    background-image: url(background_index.jpg);
    background-size: cover;    
}

h2 {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255,176,170,0.5);
    cursor: pointer;
}

li {
    list-style: none;
    display : inline-block;
}