* {
    text-align: center;
}

body {
    background-image: url(background_index.jpg);
    background-size: cover;    
}

h2 , p {
    color: #AA4139;
    text-align: center;
    border: 5px solid rgba(255,176,170,0.5);
    cursor: pointer;
}

p {
    color: green;
}

li {
    list-style: none;
    display : inline-block;
}

#div1 {
    background: rgba(0,0,255,0.2);
}

#div2 {
    background: rgba(0,255,0,0.2);
}

.active {
    color : red;
}

.webtext {
    border: 5px dashed green;
}